<!-- social icons buttons more -->
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
  color:#FFF; 
  font-family: 'Oswald', sans-serif; 
  min-width:960px;
  top:0;
  left:0;
  position:absolute;
  height:100%;
  width:100%;
  margin:0;
  background:url(images/Silus-and-Kitterson.jpg) no-repeat;
  background-size:cover;
}
.ie body {
  filter: dropshadow(color=#000000, offx=0, offy=1);    
}
h1 {
  font-size:68px;
  letter-spacing:-2px;    
  line-height:60px;
  margin:25px 0;  
  text-align:center;
  margin-left:15px;
  padding-top:20px;
}
.ie h1 {
  filter: dropshadow(color=#000000, offx=0, offy=3);
  padding-bottom:12px;    
}
h2 { 
}
.ie h2 {
  filter: dropshadow(color=#000000, offx=0, offy=3);
}
h3 {
  font-size:25px;
  margin:0.2em 0; 
}
.ie h3 {
  filter: dropshadow(color=#000000, offx=0, offy=3);
}
h4 {
  margin-bottom:5px;    
}
p, pre {
  margin:0 0 10px 0; 
}
code {
  text-transform:uppercase !important;
  color:#EEE;    
  border-bottom:1px dotted #666;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 920px;
  z-index: 1;
}
<!-- before wip -->
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;  /* facebook - dark moderate blue */
}
.wrapper .button:nth-child(2):hover .icon {
  background: #ff0000;  /* youtube - pure red */
}
.wrapper .button:nth-child(3):hover .icon {
  background: #1da1f2;  /* twitter - vivid blue */
}
.wrapper .button:nth-child(4):hover .icon {
  background: #fffc00;  /* snapchat - pure yellow */
}
.wrapper .button:nth-child(5):hover .icon {
  background: #4078c0;  /* github - moderate blue */
}
.wrapper .button:nth-child(6):hover .icon {
  background: #0ebeff;  /* codepen -  vivid blue */
}
.wrapper .button:nth-child(7):hover .icon {
  background: #0a66c2;  /* linkedin - strong blue */
}
.wrapper .button:nth-child(8):hover .icon {
  background: #b92b27;  /* quora - strong red */
}
.wrapper .button:nth-child(9):hover .icon {
  background: #ff9900;  /* amazon - orange */
}
.wrapper .button:nth-child(10):hover .icon {
  background: #037d50;  /* email - dark green */
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;  /* facebook */
}
.wrapper .button:nth-child(2) span {
  color: #ff0000;  /* youtube */
}
.wrapper .button:nth-child(3) span {
  color: #1da1f2;  /* twitter */
}
.wrapper .button:nth-child(4) span {
  color: #fffc00;  /* snapchat */
}
.wrapper .button:nth-child(5) span {
  color: #4078c0;  /* github */
}
.wrapper .button:nth-child(6) span {
  color: #0ebeff;  /* codepen */
}
.wrapper .button:nth-child(7) span {
  color: #0a66c2;  /* linkedin */
}
.wrapper .button:nth-child(8) span {
  color: #b92b27;  /* quora */
}
.wrapper .button:nth-child(9) span {
  color: #ff9900;  /* amazon */
}
.wrapper .button:nth-child(10) span {
  color: #037d50;  /* e-mail */
}
