@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
body {
  color:#ffffff;  /* white */
  font-family: 'Oswald', sans-serif; 
  min-width:960px;
  top:0;
  left:0;
  position:absolute;
  height:100%;
  width:100%;
  margin:0;
  /*background:url(../images/road2.jpg) no-repeat;*/
  background-size:cover;
}
.ie body {
  filter: dropshadow(color=#000000, offx=0, offy=1);
}
h1 {
  font-size:68px;
  letter-spacing:-2px;	
  line-height:60px;
  margin:25px 0;  
  text-align:center;
  margin-left:15px;
  padding-top:20px;
}
.ie h1 {
  filter: dropshadow(color=#000000, offx=0, offy=3);
  padding-bottom:12px;	
}
h2 { 
}
.ie h2 {
  filter: dropshadow(color=#000000, offx=0, offy=3);
}
h3 {
  font-size:25px;
  margin:0.2em 0; 
}
.ie h3 {
  filter: dropshadow(color=#000000, offx=0, offy=3);
}
h4 {
  margin-bottom:5px;	
}
p, pre {
  margin:0 0 10px 0; 
}
code {
  text-transform:uppercase !important;
  color:#eee;  /* very light gray */
  border-bottom:1px dotted #666;
}
small {
  background:url(../images/alpha.png);
  background:rgba(0, 0, 0, 0.8) url();	
  border:1px solid #111;
  font-size:15px;
  padding:0 5px;
}
a {
  color:rgba(0, 210, 255, 1);
  text-decoration:none;	
}
a:hover {
  color:#bbbbbb;  /* gray */
} 
.wrapper {
margin: 0 auto;
position: relative;
width: 920px;
z-index: 1;
}

#subscribe p{
text-align:center;
}
#subscribe input {
background: rgba(255, 255, 255, 0.52); 
color: #000;
font: bold 19px;  
vertical-align: middle;
width: 293px;
border: 1px solid rgba(255, 255, 255, 0.76);
padding: 10px;
}
#subscribe input[type="button"]{
background: rgba(255, 255, 255, 1);
width:auto;
padding: 9px 25px;
cursor: pointer;
margin-left: -5px;
}

.countdown {
text-align:center;
}
.styled{
  margin-bottom: 90px;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 60px;
  font-weight: normal; 
  text-align: center;
  margin:0 25px;
  width:100px;
  padding:30px;
  border-radius:80px;
  background:rgba(255, 255, 255, 0.26);
  height:100px; 
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.15); 
  text-shadow:none;
  vertical-align: middle; 
  border: 1px solid rgba(255, 255, 255, 0.76);
}
#overlay{
background: rgba(0, 0, 0, 0.56) url(../images/overlays/01.png) top left repeat;
position: fixed;
top: 0px;
width: 100%;
bottom: 0px;
opacity:0.8;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;  /* light gray */
  padding-top: 3px;
  font-size: 19px;
  font-weight: normal; 
  text-align: center;
}
footer{
width:100%;
height:30px;
background:rgba(0, 0, 0, 0.64);
position:absolute;
bottom:0px;
}
footer span{
float:right;
margin:10px;
}
@media(max-width:768px){
  body {
    min-width: initial !important;
  }
  .styled div {
    margin-bottom:10px; 
  }
}
@media(max-width:420px){
  h1{
    float:initial;
    text-align: center;
    margin-left:0px;
    margin-bottom:0px;
  }
  .styled div {
    margin-bottom:10px;
    font-size: 30px;  /* 40px */
    font-weight: normal; 
    text-align: center;
    width:80px; 
    border-radius:80px; 
    height:80px;  
  }
  #Content h2 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    font-size: 29px;
    font-weight: 300;
  }
  .styled {
  margin-bottom: 30px;
  }
  #subscribe input[type="button"]{
  margin-top:10px;
  }
  #subscribe input{
  width:80%;
  }
  footer{
  position:relative !important;
  }
}

<!-- social icons buttons more -->
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child:hover(1) .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;  /* facebook - dark moderate blue */
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;  /* twitter - vivid blue */
}
.wrapper .button:nth-child(3):hover .icon {
  background: #ff0000;  /* youtube - pure red */
}
.wrapper .button:nth-child(4):hover .icon {
  background: #0077b5;  /* linkedin - strong blue */
}
.wrapper .button:nth-child(5):hover .icon {
  background: #fffc00;  /* snapchat - dark yellow */
}
.wrapper .button:nth-child(6):hover .icon {
  background: #171515;  /* github - very dark red */
}
.wrapper .button:nth-child(7):hover .icon {
  background: #b92b27;  /* quora - strong red */
}
.wrapper .button:nth-child(8):hover .icon {
  background: #0ebeff;  /* codepen -  */
}
.wrapper .button:nth-child(9):hover .icon {
  background: #037d50;  /* dark green - e-mail */
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;  /* facebook */
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;  /* twitter */
}
.wrapper .button:nth-child(3) span {
  color: #b2071d;  /* youtube */
}
.wrapper .button:nth-child(4) span {
  color: #0077b5;  /* linkedin */
}
.wrapper .button:nth-child(5) span {
  color: #bfa600;  /* snapchat */
}
.wrapper .button:nth-child(6) span {
  color: #171515;  /* github */
}
.wrapper .button:nth-child(7) span {
  color: #b92b27;  /* quora */
}
.wrapper .button:nth-child(8) span {
  color: #0ebeff;  /* codepen */
}
.wrapper .button:nth-child(9) span {
  color: #037d50;  /* e-mail */
}
